.icon-rightarrow{
    position: absolute;
    left: 297px;
    top: 510.03px;
}
.icon-pause{
    position: absolute;
    left: 350px;
    top: 500.03px;
}
.icon-correct{
    padding-left: 0%;
}
.icon-calender{
    position: relative;
    margin-top: -108%;
}
// .icon-admin{
//     position: relative;
//     margin-left: -40%;
//     margin-top: -105%;
// }
