
.man {
    position: relative;
    margin-left: 45%;
    padding-bottom: 0%;
}

.bluecircle {
    position: absolute;
    margin-left: 50%;
    padding-top: 15%;
}

.righteiffel {
    position: absolute;
    padding-left: 72%;
    padding-top: 9%;
}

.lefteiffel {
    position: absolute;
    padding-left:0%;
    padding-top: 10%;
}
.girl{
    position: absolute;
    padding-left: 15%;
}
.clk{
    position: absolute;
    padding-top: 25%;
    padding-left: 15%;
}
.years{
    position: absolute;
    padding-left: 35%;
}
.girl2{
    position: absolute;
    padding-top: 10%;
    padding-left: 35%;

}
.Countries{
    position: relative;
    padding: 8%;
    padding-top: 20%;
}
 
.img81 {
    position: absolute;
    margin-left: -3%;
    top: 50px;
  }
  
  .img82 {
    margin-left: 45%;
  }
  
  .img83 {
    position: absolute;
    margin-left: 45%;
    bottom: 0;
    top: 440px; 
  }
  .img101{
    align-items: right;
    padding-right: 10%;
    }
    .whiterec1{
        box-sizing: border-box;
        // position: absolute;
        width: 850px;
        height: 130px;
        background: #FFFFFF;
        border: 1px solid #E3DBD8;
        border-radius: 20px;
        // z-index: 2;
        }